.card{

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 20px 40px rgba(0,0,0,.18);

}

.btn{

transition:.3s;

}

.btn:hover{

transform:scale(1.05);

}

.header-icons span{

cursor:pointer;

transition:.3s;

}

.header-icons span:hover{

transform:scale(1.2);

color:#2ecc71;

}

nav a{

position:relative;

}

nav a::after{

content:"";

position:absolute;

left:0;

bottom:-5px;

width:0;

height:2px;

background:#2ecc71;

transition:.3s;

}

nav a:hover::after{

width:100%;

}