<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>EcoMarket | Contacto</title>

<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/layout.css">
<link rel="stylesheet" href="../css/components.css">
<link rel="stylesheet" href="../css/animations.css">

</head>

<body>

    <header>

    <div class="container">

        <div class="logo">
            <img src="../img/icons/logo.png" alt="Logo EcoMarket">
        </div>

        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="sobre-nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>

        <div class="header-icons">
            <img src="../img/icons/busqueda.png" alt="Buscar">
            <img src="../img/icons/compra.png" alt="Carrito">
        </div>

    </div>

</header>

<section class="contacto">

    <h2 class="section-title">Contáctanos</h2>

    <p class="section-subtitle">
        Estamos aquí para ayudarte. Completa el formulario y responderemos lo antes posible.
    </p>

    <div class="contact-container">

        <form>

            <input type="text" placeholder="Nombre" required>

            <input type="email" placeholder="Correo electrónico" required>

            <textarea placeholder="Escribe tu mensaje..." required></textarea>

            <button class="btn">
                Enviar mensaje
            </button>

        </form>

       <div class="mapa">

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.5552043309594!2d-73.12592369999999!3d7.0614321000000055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e683fc2d64e4c7d%3A0x2264177758738113!2sCampuslands!5e0!3m2!1sen!2sco!4v1784098715352!5m2!1sen!2sco"
        width="100%"
        height="350"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="strict-origin-when-cross-origin">
    </iframe>

</div>

    </div>

</section>

<section class="redes">

    <h2 class="section-title">Síguenos</h2>

    <div class="social">
        <div>📘 Facebook</div>
        <div>📷 Instagram</div>
        <div>🐦 X</div>
        <div>▶ YouTube</div>
    </div>

</section>

<footer>

<div class="container-footer">

<div>

<h3>EcoMarket</h3>

<p>Compra responsable para un planeta mejor.</p>

</div>

<div>

<h3>Contacto</h3>

<p>eco@market.com</p>

<p>+57 3124768163</p>

<p>floridablanca</p>

</div>

<div>

<h3>Redes</h3>

<p>Facebook</p>

<p>Instagram</p>

<p>X</p>

</div>

</div>

<div class="copyright">

<p>© 2026 EcoMarket</p>

</div>

</footer>

</body>

</html>