<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>EcoMarket | Contacto</title>

<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/layout.css">
<link rel="stylesheet" href="../css/components.css">
<link rel="stylesheet" href="../css/animations.css">

</head>

<body>

<header>

<div class="logo">
    <img src="../img/icons/logo.png" alt="Logo EcoMarket">
</div>


<nav>

<ul>

<li><a href="../index.html">Inicio</a></li>

<li><a href="productos.html">Productos</a></li>

<li><a href="sobre-nosotros.html">Nosotros</a></li>

<li><a href="contacto.html">Contacto</a></li>

</ul>

</nav>

<div class="header-icons">

<img src="../img/icons/busqueda.png" alt="Buscar">

<img src="../img/icons/compras.png" alt="Carrito">

</div>

</div>

</header>

<section class="contacto">

<h2 class="section-title">

Contáctanos

</h2>

<div class="contact-container">

<form>

<input type="text" placeholder="Nombre" required>

<input type="email" placeholder="Correo electrónico" required>

<textarea placeholder="Escribe tu mensaje..." required></textarea>

<button class="btn">

Enviar Mensaje

</button>

</form>

<div class="mapa">

<img src="../img/hero/mapa.jpg" alt="Mapa">

</div>

</div>

</section>

<section class="redes">

<h2 class="section-title">

Síguenos

</h2>

<div class="social">

<div>📘</div>

<div>📷</div>

<div>🐦</div>

<div>▶</div>

</div>

</section>

<footer>

<div class="container-footer">

<div>

<h3>EcoMarket</h3>

<p>Compra responsable para un planeta mejor.</p>

</div>

<div>

<h3>Contacto</h3>

<p>eco@market.com</p>

<p>+57 3124768163</p>

<p>floridablanca</p>

</div>

<div>

<h3>Redes</h3>

<p>Facebook</p>

<p>Instagram</p>

<p>X</p>

</div>

</div>

<div class="copyright">

<p>© 2026 EcoMarket</p>

</div>

</footer>

</body>

</html>