<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket | Productos</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/animations.css">
</head>

<body>

<header>

<div class="container">

<div class="logo">
    <img src="../img/icons/logo.png" alt="Logo EcoMarket">
</div>

<nav>
    <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="productos.html">Productos</a></li>
        <li><a href="blog.html" class="active">Blog</a></li>
        <li><a href="sobre-nosotros.html">Nosotros</a></li>
        <li><a href="contacto.html">Contacto</a></li>
    </ul>
</nav>

<div class="header-icons">

<img src="../img/icons/busqueda.png" alt="Buscar">

<img src="../img/icons/compra.png" alt="Carrito">
</div>

</div>

</header>

<section class="catalogo">

<aside class="sidebar">

<h2>Filtros</h2>

<br>

<h3>Categorías</h3>

<label><input type="checkbox"> Hogar</label><br><br>

<label><input type="checkbox"> Moda</label><br><br>

<label><input type="checkbox"> Cuidado Personal</label><br><br>

<label><input type="checkbox"> Alimentos</label>

<br><br>

<h3>Precio</h3>

<input type="range">

<br><br>

<h3>Disponibilidad</h3>

<label><input type="checkbox"> En Stock</label>

</aside>

<div>

<div class="buscador">

<input type="text" placeholder="Buscar producto...">

</div>

<div class="catalogo-productos">

    <article class="card">
        <span class="eco">100% ECO</span>
<img src="../img/products/producto1.jpg">
<div class="card-body">
<h3>Botella Reutilizable</h3>
<p class="precio">$45.000</p>
<span class="stock">Disponible</span>
<p>Acero inoxidable libre de BPA.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto2.jpg">
<div class="card-body">
<h3>Cepillo de Bambú</h3>
<p class="precio">$12.000</p>
<span class="stock">Disponible</span>
<p>Biodegradable.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto3.jpg">
<div class="card-body">
<h3>Bolsa Ecológica</h3>
<p class="precio">$18.000</p>
<span class="stock">Disponible</span>
<p>Reduce el plástico.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto4.jpg">
<div class="card-body">    
<h3>Cubiertos Bambú</h3>
<p class="precio">$20.000</p>
<span class="stock">Disponible</span>
<p>Portátiles.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto5.jpg">
<div class="card-body">
<h3>Shampoo ecologico</h3>
<p class="precio">$28.000</p>
<span class="stock">Disponible</span>
<p>Natural.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto6.jpg">
<div class="card-body">
<h3>Maceta Reciclable</h3>
<p class="precio">$30.000</p>
<span class="stock">Disponible</span>
<p>Material reciclado.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto7.jpg">
<div class="card-body">
<h3>Termo Eco</h3>
<p class="precio">$55.000</p>
<span class="stock">Disponible</span>
<p>Conserva temperatura.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto8.jpg">
<div class="card-body">
<h3>Vela de Soya</h3>
<p class="precio">$25.000</p>
<span class="stock">Disponible</span>
<p>100% Natural.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto9.jpg">
<div class="card-body">
<h3>Jabón Artesanal</h3>
<p class="precio">$14.000</p>
<span class="stock">Disponible</span>
<p>Ingredientes naturales.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto10.jpg">
<div class="card-body">
<h3>Bolsa biodegradable</h3>
<p class="precio">$16.000</p>
<span class="stock">Disponible</span>
<p>Reutilizable.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>


<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto11.jpg" alt="Popotes">
<div class="card-body">
<h3>Popotes Reutilizables</h3>
<p class="precio">$18.000</p>
<span class="stock">Disponible</span>
<p>Acero inoxidable.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto12.jpg" alt="Envase">
<div class="card-body">
<h3>Envase de Vidrio</h3>
<p class="precio">$22.000</p>
<span class="stock">Disponible</span>
<p>Ideal para alimentos.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto13.jpg" alt="Lonchera">
<div class="card-body">
<h3>Lonchera Ecológica</h3>
<p class="precio">$48.000</p>
<span class="stock">Disponible</span>
<p>Material reciclado.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto14.jpg" alt="Kit">
<div class="card-body">
<h3>Kit Cafetero Eco</h3>
<p class="precio">$35.000</p>
<span class="stock">Disponible</span>
<p>Incluye estuche.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto15.jpg" alt="Planta">
<div class="card-body">
<h3>focos Decorativos</h3>
<p class="precio">$32.000</p>
<span class="stock">Disponible</span>
<p>Iluminación ecológica.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto16.jpg" alt="Jabón">
<div class="card-body">
<h3>Jabón Líquido Natural</h3>
<p class="precio">$24.000</p>
<span class="stock">Disponible</span>
<p>Ingredientes naturales.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
<img src="../img/products/producto17.jpg" alt="Taza">
<div class="card-body">
<h3>Taza de Bambú</h3>
<span class="eco">100% ECO</span>
<p class="precio">$28.000</p>
<span class="stock">Disponible</span>
<p>Reutilizable.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto18.jpg" alt="Toallas">
<div class="card-body">
<h3>Toallas biodegradables</h3>
<p class="precio">$38.000</p>
<span class="stock">Disponible</span>
<p>Hechas de materiales biodegradables.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto19.jpg" alt="Bolsa">
<div class="card-body">
<h3>cepillo para el cabello</h3>
<p class="precio">$19.000</p>
<span class="stock agotado">Agotado</span>
<p>Material reciclado.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Ver más</a>
</div>
</article>

<article class="card">
    <span class="eco">100% ECO</span>
<img src="../img/products/producto20.jpg" alt="Kit">
<div class="card-body">
<h3>Kit EcoMarket estudiantil</h3>
<p class="precio">$85.000</p>
<span class="stock">Disponible</span>
<p>Kit completo para estudiantes.</p>
<div class="favorite">❤</div>
<a href="#" class="btn-card">Agregar al carrito</a>
</div>
</article>
</div>

<div class="paginacion">

<a href="#">«</a>

<a href="#">1</a>

<a href="#">2</a>

<a href="#">3</a>

<a href="#">»</a>

</div>

</div>

</section>
<footer>

<div class="container-footer">

<div>

<h3>EcoMarket</h3>

<p>Compra responsable para un planeta mejor.</p>

</div>

<div>

<h3>Contacto</h3>

<p>eco@market.com</p>

<p>+57 300 000 0000</p>

<p>Bucaramanga</p>

</div>

<div>

<h3>Redes</h3>

<p>Facebook</p>

<p>Instagram</p>

<p>X</p>

</div>

</div>

<div class="copyright">

<p>© 2026 EcoMarket</p>

</div>

</footer>

</body>

</html>